.flex-parent {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(205, 204, 204);
  height: 150px;
}

.flex-child {
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  margin: 0 1rem;
}

.content-space-between {
  justify-content: space-between;
}

.content-space-around {
  justify-content: space-around;
}

.content-flex-end {
  justify-content: flex-end;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}
